body{
	background-image: url("../media/sfondobello.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
	min-height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
input[type="text"], [type="password"] {
	border-radius: 4px;
	text-align: center;
	border: 1px solid white;
	height: 35px;
}
.pulsante{
	width: 120px;
	border-radius: 4px;
	text-align: center;
	border: 1px solid white;
	height: 35px;
	margin-left: 5px;
margin-top: 5px;
	}
	form{
	display: inline-block;}
